{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="row my-4">
      <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
        <div class="card">
          <div class="card-header pb-0">
            <div class="row">
              <div class="col-lg-6 col-7">
                <h6>Add New Project</h6>
              </div>
            </div>
          </div>
        <div class="card-body px-0 pb-2">
            {% if form.errors %}
                <p style="background-color:rgb(231, 144, 144); color: black; padding:5px;">Invalid Fields.</p>
            {% endif %}
            <form action="{% url 'projects:add_project' %}" method="post" style="margin: 20px;">
                {% csrf_token %}
                <label>Project Code</label>
                <div class="mb-3">
                    <input type="number" name="project_Code" class="form-control">
                </div>
                <label>Project Name</label>
                <div class="mb-3">
                    <input type="text" name="project_Name" class="form-control">
                </div>
                <label>Project Description</label>
                <div class="mb-3">
                    <textarea name="project_Description" class="form-control" ></textarea>
                </div>
                <label>Project Members Allowed</label>
                <div class="mb-3">
                    <input type="number" name="project_Members_Allowed" class="form-control">
                </div>
                <label>Project Progress (in %)</label>
                <div class="mb-3">
                    <input type="number" name="project_Progress" class="form-control">
                </div>
                <label>Project Closure&nbsp;&nbsp;</label>
                <div class="mb-3" style="display: inline;">
                    <input type="checkbox" name="project_Closure">
                    <br>
                    <br>
                </div>
                <select name="project_Owner" id="id_project_Owner" hidden>
                    {% with user.employee_profile_set.all|first as employee %}
                    {% if employee.is_lead %}
                    <option value={{employee.id}} selected></option>
                    {% endif %}
                    {% endwith %}
                </select>
                <button name="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
        
    </div>
</div>

{% endblock content %}